extends layout

block content
  img(style='position: absolute; top: 0; right: 0; border: 0', src="/images/star.svg", alt="star")
  div(class='text-center hd1')
    img(src="/images/bot1.svg", alt="bot1")
    p HR Chat Bot
  div(class='text-center')
    iframe(src="https://console.dialogflow.com/api-client/demo/embedded/5831b573-197e-4429-bb94-1cc2d32ba850", width='350',height='300')
    //- mybot()
      