extends layout

block content
  img(style='position: absolute; top: 0; right: 0; border: 0', src="/images/star.svg", alt="star")
  div(class='text-center hd1')
    img(src="/images/bot1.svg", alt="bot1")
    p HR Chat Bot
    mybot()
      