doctype html
html
  head
    title= 'HR Chat Bot'
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

    script(src='/javascripts/jquery-3.6.0.min.js')
    script(src='/javascripts/script.js')
